{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!DOCTYPE html>
<html>
 <head>
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
 </head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
   </script>
   <script defer src="../static/js/index_page.js"></script>
  <body>
    <p>Insert a New Task/Reminder</p>
    {% if error %}
      <br>
      <p class=error>
        <strong>Error:</strong> {{ error }}
      </p>
      <br>
    {% endif %}
    {{ wtf.quick_form(form) }}
    <br>
    {% if table %}
      <p> Your Tasks </p>
      {{ table }}
    {% endif %}
  </body>
</html>
{% endblock %}
