{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!DOCTYPE html>
<html>
	<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
  <script defer src="../static/js/signup_page.js"></script>
	<body>
    <p>Enter New Password</p>
    {% if error %}
      <br>
      <p class=error>
        <strong>Error:</strong> {{ error }}
      </p>
      <br>
    {% endif %}
		<p id="log" style="display: none"></p>
		{{ wtf.quick_form(form) }}
	</body>
</html>
{% endblock %}
