{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!DOCTYPE html>
<html>
	<head>
		<title>Password Reset Request</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
	<body>
    <p>Enter Email to Request a Password Reset</p>
    {% if error %}
      <br>
      <p class=error>
        <strong>Error:</strong> {{ error }}
      </p>
      <br>
    {% endif %}
    {{ wtf.quick_form(form) }}
	</body>
</html>
{% endblock %}
