{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!DOCTYPE html>
<html>
 <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
   </script>
   <script defer src="../static/js/signup_page.js"></script>
  <body>
   <div class="signup_box">
  	<h1>Sign Up</h1>
      <p id="log" style="color: red">Passwords do not match<p>
      {% if error %}
        <p class=error>
          <strong>Error:</strong> {{ error }}
        </p>
      {% endif %}
  	 {{ wtf.quick_form(form) }}
	 </div>
  </body>
</html>
{% endblock %}
