{% extends 'base.html' %}

{% block app_content %}
<!DOCTYPE html>
<html>
 <head>
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
 </head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
   </script>
   <script defer src="../static/js/index_page.js"></script>
  <body>
    <p>Insert a New Task/Reminder</p>
    {% if error %}
      <br>
      <p class=error>
        <strong>Error:</strong> {{ error }}
      </p>
      <br>
    {% endif %}
    <form action="/index" method="post">
     <input type="text" name="task" id="task" placeholder="Task/Reminder" required/>
      <br>
     <input type="date" name="date" id="date" placeholder="Date" required/>
      <br>
     <input type="time" name="time" id="time" placeholder="Time" required/>
      <br>
     <input type="submit" class="submit_button" value="Submit"/>
    </form>
    <br>
    {% if table %}
      <p> Your Tasks </p>
      {{ table }}
    {% endif %}
  </body>
</html>
{% endblock %}
