{% block body %}
<html>
 <head>ToDoIt SignUp</head>
 <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
   </script>
   <script defer src="../static/js/signup_page.js"></script>
  <body>
    <div>
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
   <div class="signup_box">
  	<h1>Registration</h1>
      {% if error %}
        <p class=error>
          <strong>Error:</strong> {{ error }}
        </p>
      {% endif %}
  	 <form action="/signup" method="post">
      <input type="text" name="username" id="username" placeholder="Username" required/>
    	 <br>
      <input type="password" name="password" id="password" placeholder="Password" required/>
    	 <br>
       <input type="password" name="re_password" id="re_password" placeholder="Re-Enter Password" required/>
     	 <br>
       <p id="log" style="display: none"></p>
       <input type="email" name="email" id="email" placeholder="Email" required/>
       <br>
    	<input type="submit" class="submit_button" value="Sign Up"/>
  	 </form>
	 </div>
  </body>
</html>
{% endblock %}
